.team {
    list-style: none;
    display: flex;
    font-family: 'Epilogue', sans-serif;
    text-align: right !important;
    margin-right: 55px;
    
    
}

.team li {
    text-align: right;
    margin-top: 25px;
    margin-left: 10px;
}

Footer h3 {
    color: rgb(253, 191, 202);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}


