.column{
    display: flex;
    flex-direction: column;
    
}

.row{
    display:flex;
    flex-direction: row;
}

h4 {
    font-family: 'Red Hat Text', sans-serif;
    font-weight: bolder;
    font-size: 30px;
}

.cargartarjetas {
    margin-right: 40px;
    font-size: 15px;
    font-family: 'Epilogue', sans-serif;
    border-radius: 0;
    background-color: rgb(26, 25, 25);
    border: 1px solid rgba(255, 255, 255, 0.171);
    color: white;
    padding: 8px;
}

.cargartarjetas:hover {
    background-color: rgba(240, 196, 203, 0.658); 
}

.subtitulo {
    display: flex;
    justify-content: space-around;  
    background-color: rgba(26, 26, 26, 0.37);
    padding-top: 10px;
    padding-bottom: 10px;
    
}

main{
    width: 100%;  
}

.card-container p {
    font-family: 'Epilogue', sans-serif;
}

.cargando {
    border: none;
    width: 200px;
    height: 200px;
    margin-top: 50px;
    margin-left: 600px;
}

.column main{
    width: 100%;
}

.column .album-card{
    display: flex;
    justify-content: flex-start;
    align-self: center;
    width: 80%;
    flex-direction: row;
    border-radius: 1%;
}

.column .albumes {
    display: flex;
    flex-direction: row;
    border-radius: 1%;
}


.column .logos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15px;
    width: 350px;
}


.column img{
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
}


.column h3{
    display: flex;
    justify-content:left;
    
}

.column .description{
    display: flex;
    justify-content: left;
}

.column .show{
    display: flex;
    justify-content: left;
}

.column .more {
    width: 100px;
    display: flex;
    justify-content: left;
}

